certifi==2026.1.4
charset-normalizer==3.4.4
click==8.3.1
idna==3.11
Nuitka==2.8.9
ordered-set==4.1.0
python-dotenv==1.2.1
requests==2.32.5
schedule==1.2.2
tzdata==2025.3
urllib3==2.6.3
zstandard==0.25.0
